<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8"/>
    <meta name="description" content="Rendr CRUD"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Rendr CRUD</title>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/styles.css" media="screen" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">GitHub Browser</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/users">Users</a></li>
          </ul>
          <div class="loading-indicator">Loading&hellip;</div>
        </div>
    </div>

    <section id="content" class="container">
      {{{body}}}
    </section>

    <script src="/mergedAssets.js"></script>
    <script>
    (function() {
      var App = window.App = new (require('app/app'))({{json appData}});
      App.bootstrapData({{json bootstrappedData}});
      App.start();
    })();
    </script>

  </body>

</html>
